<p>Welcome <%= @resource.email %>!</p>

<p>You're almost there! Just hit the link below to validate your email and enjoy CollegeGap!
	 </p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
