<p>Hello <%= @resource.email %>!</p>

<p>Someone from another universe has requested a link to change your password. If you was expecting that, hit the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you know your passwordand don't wanna change it, just ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
